.loader svg {
  animation: full-loader 1s infinite;
  width: 10em;
  height: 10em;

  circle {
    r: 4em;
    cx: 5em;
    cy: 5em;
    stroke-dasharray: 25;
    animation: full-loader-cirle 3s infinite;
  }
}

@keyframes full-loader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes full-loader-cirle {
  0% {
    r: 4em;
  }
  50% {
    r: 1em;
  }
  100% {
    r: 4em;
  }
}
